__pycache__
*.pyc
_OldCodeBackups
_PackagesForInstall
*.history
*.blend1
.vscode/settings.json
.VSCodeCounter
tmp/

# Virtual envs
.venv

# VS Code
.vscode

.local
.history

# Docs
docs/_build
docs/_html
docs_dev/_build
docs_dev/_html
